<div class="product_item collect-block {% if platform == 'desktop' %}hidden-xs{%else%}visible-xs{%endif%}">
  <div class="product">
    
    <div class="product-container">
  
        
        
      <div id='carousel-ps-4-{{ platform }}' class='block-slides carousel slide' data-ride='carousel'>
        <div class='carousel-inner' role='listbox'>
            
            
          
          <div class='block-slide item active'>
            <img class='collection-background' src="{{ 'block-ps-2-2.jpg' | asset_url }}">
          </div>
          <div class='block-slide item'>
            <img class='collection-background' src="{{ 'block-ps-2-3.jpg' | asset_url }}">
          </div>
          
          {% comment %}
          <div class='block-slide item active'>
            <img class='collection-background' src="{{ 'block-ps-1-5.jpg' | asset_url }}">
            <div class='story-block'>
              <div class='inner-content'>

                <h4>Details</h4>
                <div class='sep'></div>
                <p>Lasercut leather, inspired by traditional Chinese woodworking motifs, harness the latest technology to create graphic, modern footwear.</p>
              </div>
            </div>
          </div>
          {% endcomment %}

        
        </div>
        
      
      </div>
      
      <a class="left carousel-control" href="#carousel-ps-4-{{ platform }}" data-slide="prev">
        <img src="{{ 'left-icon.png' | asset_url }}"/>
      </a>
      <a class="right carousel-control" href="#carousel-ps-4-{{ platform }}" data-slide="next">
        <img src="{{ 'right-icon.png' | asset_url }}"/>
      </a>

      <div class="product-wrap">
        <div class="product-image">
          <div class="wrap">
            {% include 'spinner2' %}
            <a>
              <img style='' src="{{ 'block-ph.jpg' | asset_url }}" class="main-image img-responsive" alt="{{ prod.title }}" />
            </a>
          </div>
        </div>
        <div class="product-content">
          <div class="inner">
            <div class="product-title">
              <a href="#">
                Collection Block
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>