{% include 'collection-slider' %}
{% if template == 'collection' %}
<div class="filter_wrap filters-section">
  <div class="filter_heading">
    <h1 class="title">{{ collection.title }}</h1>
    <div class="options-wrapper">

      <div class="toggle_filter">
        <span class="filter-controller" data-show="{{ 'collections.general.show_filters' | t }}" data-hide="{{ 'collections.general.hide_filters' | t }}">{{ 'collections.general.show_filters' | t }} <i class="icon"></i></span>
      </div> 

      <div class="toggle_sortby">
        <span class="sortby-controller" data-hide="{{ 'collections.general.hide_filters' | t }}">Sort By<i class="icon"></i></span>
      </div>

      {% comment %}
        {% if settings.collection_grid_list != 'none' %}
        <div class="toggle_view">
          <span class="filter_label"></span>
          <ul class="grid_list">
            <li id="catSelectGrid" class="grid{% if settings.collection_grid_list == 'grid' %} active{% endif %}">
              <i class="icon-grid btooltip" data-toggle="tooltip" title="{{ 'collections.general.grid' | t }}"></i>
            </li>
            <li id="catSelectList" class="list{% if settings.collection_grid_list == 'list' %} active{% endif %}">
              <i class="icon-list btooltip" data-toggle="tooltip" title="{{ 'collections.general.list' | t }}"></i>
            </li>
          </ul>
        </div>
        {% endif %}
      {% endcomment %}

    </div>
  </div>

  <div id="filters">
    <!-- THIS DIV HAS ALL THE CODE FOR THE FILTERS -->
    <div class="filter_close">
      <button class="icon-pa-close-x"></button>
    </div>
    <div class="wrap">
      {% if settings.collection_browse %}
      <div class="column">
        <div class="filter_title">Collections</div>
        <div class="advanced-collection filter_container">
          <ul class="list-unstyled fields">
            {% for coll in collections %}
            {% unless coll.handle == 'frontpage' or coll.handle == 'all' %}

            {% unless coll.handle == collection.handle %}
            <li>
              <a class="field" href="{{ coll.url }}{% if collection.sort_by != blank %}?sort_by={{ collection.sort_by }}{% endif %}">{{ coll.title | escape }}</a>
            </li>
            {% else %}
            <li>
              <span class="field active">{{ coll.title | escape }}</span>
            </li>
            {% endunless %}

            {% endunless %}
            {% endfor %}

            {% if collection.handle == 'all' %}
            <li>
              <span class="field active">{{'collections.general.all' | t}}</span>
            </li>
            {% else %}
            <li>
              <a class="field" href="/collections/all{% if collection.sort_by != blank %}?sort_by={{ collection.sort_by }}{% endif %}">{{'collections.general.all' | t}}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}

      {% include 'collection-filter' %}
      <a class='clear-filter' href='#'>Clear All Filters</a>
    </div>
  </div>
  
  
</div>

<div class='filter_wrap sort-section'>
  <div id="sorts">
    <div class="wrap">
      {% include 'collection-sort' %}
    </div>
  </div>
</div>
{% if settings.collection_infinite_scoll %}
{{ 'jquery.ba-dotimeout.min.js' | asset_url | script_tag }}
{% endif %}
<script>
  var val_default = '{{ collection.sort_by | default: collection.default_sort_by | escape }}';
  {% if settings.collection_infinite_scoll %}
  {% if settings.collection_infinite_scoll_auto %}
  var pInfScrLoading = false;
  var pInfScrMore = true;
  var pInfScrDelay = 100;

  function pInfScrExecute() {
    if(jQuery(document).height() - 800 < (jQuery(document).scrollTop() + jQuery(window).height())) {

      pInfScrNode = jQuery('.infinite_scoll').last();
      pInfScrURL = jQuery('.infinite_scoll a').last().attr("href");
      if(!pInfScrLoading && pInfScrNode.length > 0 && pInfScrMore) {
        jQuery.ajax({
          type: 'GET',
          url: pInfScrURL,
          beforeSend: function() {
            pInfScrLoading = true;
            jQuery('.loading_img').fadeIn();
          },
          success: function(data) {
            var filteredData = $(data).find(".product_item");
            jQuery("#sandBox > .row").append(filteredData);
            roar.buildProductItem();
            pInfScrLoading = false;
            setTimeout(function() {
              jQuery('.loading_img').fadeOut();
            }, 500);

            if(jQuery(data).find(".infinite_scoll a").length){
              jQuery('.infinite_scoll a').last().attr("href", jQuery(data).find(".infinite_scoll a").last().attr("href"));
            }
            else{
              pInfScrMore = false;
              jQuery('.infinite_scoll').empty();
            }
          },
          dataType: "html"
        });
      }
    }
  }
  jQuery(document).ready(function ($) {
    $(window).scroll(function(){
      $.doTimeout( 'scroll', pInfScrDelay, pInfScrExecute);
      if( $(document).height() - 800 > $(document).scrollTop() + $(window).height() ) {
        pInfScrDelay = 100;
      }
    });
  });
  {% else %}
  var pInfScrLoading = false;
  var pInfScrMore = true;
  var pInfScrDelay = 250;
  function pInfScrExecute() {
    pInfScrNode = $('.infinite_scoll').last();
    pInfScrURL = $('.infinite_scoll a').last().attr("href");
    if(pInfScrNode.length > 0 && pInfScrMore) {
      $.ajax({
        type: 'GET',
        url: pInfScrURL,
        beforeSend: function() {
          pInfScrLoading = true;
          jQuery('.infinite_scoll').addClass('invisible');
          jQuery('.loading_img').fadeIn();
        },
        success: function(data) {
          var filteredData = $(data).find(".product_item");
          jQuery("#sandBox > .row").append(filteredData);
          roar.buildProductItem();
          pInfScrLoading = false;
          setTimeout(function() {
              jQuery('.loading_img').fadeOut();
            }, 500);

          if(jQuery(data).find(".infinite_scoll a").length){
            jQuery('.infinite_scoll a').last().attr("href", jQuery(data).find(".infinite_scoll a").last().attr("href"));
            jQuery('.infinite_scoll').removeClass('invisible');
          }
          else{
            pInfScrMore = false;
            jQuery('.infinite_scoll').empty();
          }
        },
        dataType: "html"
      });
    }
  }

  function attachClickEvent(){
    jQuery('.advanced-pagination').on('click', '.infinite_scoll a', function(event){
      pInfScrExecute();
      event.stopPropagation();
      return false;
    });
  }

  jQuery(document).ready(function ($) {
    attachClickEvent();
  });
  {% endif %}
  {% endif %}
</script>
{% include 'spinner' %}
{% endif %}