<div id='home-slider-2' class="rise_of_paul_and_journel_section">
  
  
<div class="bottom-hero">
  <img class='hero hidden-xs' src='{{ "bottom_hero_desktop.jpg" | asset_url }}'>
  <img class='hero visible-xs' src='{{ "bottom_hero_mobile.jpg" | asset_url }}'>
  <div class="hero-text">
    <h2 style='color: #000;'>{{ settings.bottom_hero_header_text }}</h2>
    <a href="/collections/mens-spring-summer-2017" class="btn">{{ settings.bottom_hero_button_text }}</a>
    <a class='arrow-link' data-target='#bottom-content' href='#bottom-content'>{{ 'arrow2.png' | asset_url | img_tag }}</a>
  </div>
</div>



  <div id='bottom-content' class="journal_and_instagram_section container">
    <div class="row">
      <div class="journal_section bottom-section col-xs-24 col-sm-12 col-md-12 col-lg-12">
        <a href='{{ settings.bottom_left_link }}'>
          <div class="journal_image right_image"><img src="{{ 'bottom_left_link_image.png' | asset_url }}" alt="journal image" /></div>
          <div class="journal_text left_text"><span class="heading_journal_section heading_footer">{{ settings.bottom_left_link_header_text }}</span>
            <p class="para_journal_section">{{ settings.bottom_left_link_subheader_text }}</p>
          </div>
        </a>
      </div>
      <div class="instagram_section bottom-section col-xs-24 col-sm-12 col-md-12 col-lg-12">
        <a href='{{ settings.bottom_right_link }}' target='_blank'>
          <div class="instagram_image right_image"><img src="{{ 'bottom_right_link_image.png' | asset_url }}" alt="instgram image" /></div>
          <div class="instrgram_text left_text"><span class="heading_instgram_section heading_footer">{{ settings.bottom_right_link_header_text }}</span>
            <p class="para_journal_section">{{ settings.bottom_right_link_subheader_text }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>