{% assign current_color = product.variants.first.options.first %}
<div class="swatch color clearfix" data-option-index="1">
  <div class="header"><span>Color</span><span class='color reveal'>{{ current_color }}</span></div>
{% paginate collections.all.products by 1000 %}
{% for prod in collections.all.products %}
  {% if prod.title == product.title %}
    {% assign color = prod.variants.first.options.first %}
    {% for tag in prod.tags %}{% if tag contains "colorswatch" %}
      {% assign image_file =  tag | remove: "colorswatch-" %}
    {% endif %}{% endfor %}
  
    <div data-value="{{ color }}" class="swatch-element colorblack available {% if color == current_color %} active {% endif %}">
      <a href='{{ prod.url }}'>
        <label for="swatch-1-{{ prod.id }}" style="background-color:black; background-image: url({{ image_file | asset_url }})">
        </label>
      </a>
    </div>

  {% endif %}
{% endfor %}
{% endpaginate %}

</div>

<script>
$('.swatch-element').hover(function(){
  $('.swatch.color .header span.color').addClass('reveal')
  $('.swatch.color .header span.color').html($(this).data('value'))
}, function(){
  $('.swatch.color .header span.color').removeClass('reveal')
})
</script>

