<div class='carousel slide cat-grid row clearfix' data-ride='carousel'>
  <div class='carousel-inner' style='max-width: 100%;' role='listbox'>
    <div class='item active'>
      <div class="product_item item-4751850310">
        

        <div class="product">
          <div class="product-container">

            <div class="product-wrap">
              <div class="product-image">
                <div class="wrap">
                  <div class="icon_spinner2 svg" style="display:none;">
                    <span class="mask"></span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34px" height="34px">
                      <circle cx="17" cy="17" r="16" stroke-width="2px" stroke="#555555" fill="none"></circle>
                    </svg>
                  </div>
                  <a href="/collections/pre-spring-2016/products/shoe-name-4">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/04-test_hover_large.jpeg?v=1455642694" class="hover-image img-responsive" alt="Shoe Name 04">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/04-test_cover_large.jpeg?v=1455642694" class="main-image img-responsive" alt="Shoe Name 04">
                  </a>
                </div>
              </div>

              <div class="product-content">
                <div class="inner">
                  <div class="product-title">
                    <a href="/collections/pre-spring-2016/products/shoe-name-4" title="Shoe Name 04">
                      Shoe Name 04
                    </a>
                  </div>

                  
                </div>
              </div>

              <div class="product-utils">
                <a class="quick-view" href="/collections/pre-spring-2016/products/shoe-name-4">Quick View</a>
                <a href="/account/login" class="btn-wishlist" title="Add to Wishlist"><i class="icon-pa-heart"></i></a>
              </div>

              
            </div> <!-- /end .product-wrap -->
          </div>
        </div>
      </div>
      <div class="product_item item-4751850822">
        

        <div class="product">
          <div class="product-container">

            <div class="product-wrap">
              <div class="product-image">
                <div class="wrap">
                  <div class="icon_spinner2 svg" style="display:none;">
                    <span class="mask"></span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34px" height="34px">
                      <circle cx="17" cy="17" r="16" stroke-width="2px" stroke="#555555" fill="none"></circle>
                    </svg>
                  </div>
                  <a href="/collections/pre-spring-2016/products/manhattan">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/03-test_hover_large.jpeg?v=1455642697" class="hover-image img-responsive" alt="Shoe Name 03">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/03-test_cover_large.jpeg?v=1455642697" class="main-image img-responsive" alt="Shoe Name 03">
                  </a>
                </div>
              </div>

              <div class="product-content">
                <div class="inner">
                  <div class="product-title">
                    <a href="/collections/pre-spring-2016/products/manhattan" title="Shoe Name 03">
                      Shoe Name 03
                    </a>
                  </div>

                  
                </div>
              </div>

              <div class="product-utils">
                <a class="quick-view" href="/collections/pre-spring-2016/products/manhattan">Quick View</a>
                <a href="/account/login" class="btn-wishlist" title="Add to Wishlist"><i class="icon-pa-heart"></i></a>
              </div>

              
            </div> <!-- /end .product-wrap -->
          </div>
        </div>
      </div>
      <div class="product_item item-4751851910">
        

        <div class="product">
          <div class="product-container">

            <div class="product-wrap">
              <div class="product-image">
                <div class="wrap">
                  <div class="icon_spinner2 svg" style="display:none;">
                    <span class="mask"></span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34px" height="34px">
                      <circle cx="17" cy="17" r="16" stroke-width="2px" stroke="#555555" fill="none"></circle>
                    </svg>
                  </div>
                  <a href="/collections/pre-spring-2016/products/flora">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/01-test_hover_large.jpeg?v=1455642705" class="hover-image img-responsive" alt="Shoe Name 01">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/01-test_cover_large.jpeg?v=1455642705" class="main-image img-responsive" alt="Shoe Name 01">
                  </a>
                </div>
              </div>

              <div class="product-content">
                <div class="inner">
                  <div class="product-title">
                    <a href="/collections/pre-spring-2016/products/flora" title="Shoe Name 01">
                      Shoe Name 01
                    </a>
                  </div>

                  
                </div>
              </div>

              <div class="product-utils">
                <a class="quick-view" href="/collections/pre-spring-2016/products/flora">Quick View</a>
                <a href="/account/login" class="btn-wishlist" title="Add to Wishlist"><i class="icon-pa-heart"></i></a>
              </div>

              
            </div> <!-- /end .product-wrap -->
          </div>
        </div>
      </div>
      <div class="product_item item-4751850310">
        

        <div class="product">
          <div class="product-container">

            <div class="product-wrap">
              <div class="product-image">
                <div class="wrap">
                  <div class="icon_spinner2 svg" style="display:none;">
                    <span class="mask"></span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34px" height="34px">
                      <circle cx="17" cy="17" r="16" stroke-width="2px" stroke="#555555" fill="none"></circle>
                    </svg>
                  </div>
                  <a href="/collections/pre-spring-2016/products/shoe-name-4">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/04-test_hover_large.jpeg?v=1455642694" class="hover-image img-responsive" alt="Shoe Name 04">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/04-test_cover_large.jpeg?v=1455642694" class="main-image img-responsive" alt="Shoe Name 04">
                  </a>
                </div>
              </div>

              <div class="product-content">
                <div class="inner">
                  <div class="product-title">
                    <a href="/collections/pre-spring-2016/products/shoe-name-4" title="Shoe Name 04">
                      Shoe Name 04
                    </a>
                  </div>

                  
                </div>
              </div>

              <div class="product-utils">
                <a class="quick-view" href="/collections/pre-spring-2016/products/shoe-name-4">Quick View</a>
                <a href="/account/login" class="btn-wishlist" title="Add to Wishlist"><i class="icon-pa-heart"></i></a>
              </div>

              
            </div> <!-- /end .product-wrap -->
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <div class="product_item item-4751851910">
        

        <div class="product">
          <div class="product-container">

            <div class="product-wrap">
              <div class="product-image">
                <div class="wrap">
                  <div class="icon_spinner2 svg" style="display:none;">
                    <span class="mask"></span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34px" height="34px">
                      <circle cx="17" cy="17" r="16" stroke-width="2px" stroke="#555555" fill="none"></circle>
                    </svg>
                  </div>
                  <a href="/collections/pre-spring-2016/products/flora">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/01-test_hover_large.jpeg?v=1455642705" class="hover-image img-responsive" alt="Shoe Name 01">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/01-test_cover_large.jpeg?v=1455642705" class="main-image img-responsive" alt="Shoe Name 01">
                  </a>
                </div>
              </div>

              <div class="product-content">
                <div class="inner">
                  <div class="product-title">
                    <a href="/collections/pre-spring-2016/products/flora" title="Shoe Name 01">
                      Shoe Name 01
                    </a>
                  </div>

                  
                </div>
              </div>

              <div class="product-utils">
                <a class="quick-view" href="/collections/pre-spring-2016/products/flora">Quick View</a>
                <a href="/account/login" class="btn-wishlist" title="Add to Wishlist"><i class="icon-pa-heart"></i></a>
              </div>

              
            </div> <!-- /end .product-wrap -->
          </div>
        </div>
      </div>
      <div class="product_item item-4751850310">
        

        <div class="product">
          <div class="product-container">

            <div class="product-wrap">
              <div class="product-image">
                <div class="wrap">
                  <div class="icon_spinner2 svg" style="display:none;">
                    <span class="mask"></span>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="34px" height="34px">
                      <circle cx="17" cy="17" r="16" stroke-width="2px" stroke="#555555" fill="none"></circle>
                    </svg>
                  </div>
                  <a href="/collections/pre-spring-2016/products/shoe-name-4">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/04-test_hover_large.jpeg?v=1455642694" class="hover-image img-responsive" alt="Shoe Name 04">
                    <img src="//cdn.shopify.com/s/files/1/1171/4544/products/04-test_cover_large.jpeg?v=1455642694" class="main-image img-responsive" alt="Shoe Name 04">
                  </a>
                </div>
              </div>

              <div class="product-content">
                <div class="inner">
                  <div class="product-title">
                    <a href="/collections/pre-spring-2016/products/shoe-name-4" title="Shoe Name 04">
                      Shoe Name 04
                    </a>
                  </div>

                  
                </div>
              </div>

              <div class="product-utils">
                <a class="quick-view" href="/collections/pre-spring-2016/products/shoe-name-4">Quick View</a>
                <a href="/account/login" class="btn-wishlist" title="Add to Wishlist"><i class="icon-pa-heart"></i></a>
              </div>

              
            </div> <!-- /end .product-wrap -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="awarp-product-related" data-id="{{ product.id }}" data-collection_id="{{ collection.id }}" data-collection_handle="{{ collection.handle }}"></div>




<div class="aw-arp-block">
    <h3 class="aw-arp-block__title">{{title}}</h3>

    <div class="aw-arp-grid">
        {% for product in products[:8] %}
            <div class="aw-arp-grid__item aw-arp-product">
                <p class="aw-arp-product__image-wrapper">
                    <a href="{{product.url}}">
                        <img src="{{product.image_url}}" alt="" class="aw-arp-product__image">
                    </a>
                </p>

                <p class="aw-arp-product__title"><a href="{{product.url}}">{{product.name}}</a></p>

                <p class="aw-arp-product__price">{{product.price}}</p>
            </div>
        {% endfor %}
    </div>
</div>