{% assign tmp = settings.product_shipping_return %}
{% assign temp = pages[tmp] %}

<div class="product-tabs">
  <div class="product-tab">
    <ul class="nav nav-tabs responsive" id="product-tab">
      <li class="active"><a href="#product-description">{{'products.product.description' | t}}</a></li>
      {% if product.metafields.c_f.details_tab %}
      <li><a href="#product-details">Details</a></li>
      {% endif %}
      {% if product.featured_image.alt contains 'iframe' %}
      <li><a href="#product-video">{{'products.product.video' | t}}</a></li>
      {% endif %}
      {% if temp.handle != blank %}
      <li><a href="#product-shipping-return">{{'products.product.shipping_and_return' | t}}</a></li>
      {% endif %}
      {% if settings.reviews_enable %}
      <li><a id="product-reviews-a" href="#product-reviews">{{'products.product.customer_reviews' | t}}</a></li>
      {% endif %}
    </ul>

    <div class="tab-content responsive">
      <div class="tab-pane active" id="product-description">
        <div itemprop="description">
          {{product.content}}
        </div>
      </div>
      {% if product.metafields.c_f.details_tab %}
      <div class="tab-pane" id="product-details">
          {{ product.metafields.c_f.details_tab }}
      </div>
      {% endif %}
      {% if product.featured_image.alt contains 'iframe' %}
      <div class="tab-pane" id="product-video">
        {{product.featured_image.alt}}
      </div>
      {% endif %}
      {% if temp.handle != blank %}
      <div class="tab-pane" id="product-shipping-return">
        {{temp.content}}
      </div>
      {% endif %}
      {% if settings.reviews_enable %}
      <div id="product-reviews" class="tab-pane">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
