{% comment %} ----- Blog Search ----- {% endcomment %}
{% if settings.blog_search_show %}
<div class="widget-wrapper blog-search">
  
  {% if settings.blog_search_heading != blank %}
  <div class="title">
    {{settings.blog_search_heading}}
  </div>
  {% endif %}
  
  <div class="search-wrap">
    <form action="/search" method="get">
      <input type="hidden" name="type" value="article" />
      <input type="text" name="q" value="" accesskey="4" autocomplete="off" placeholder="{{settings.search_searchtext}}" />
      <button type="submit" class="btn btn-1">
        <i class="icon-magnifier"></i>
      </button>
    </form>
  </div>
</div>
{% endif %}

{% comment %} ----- Recent Articles ----- {% endcomment %}
{% if settings.blog_recent_show %}
<div class="widget-wrapper blog-page">
  
  {% if settings.blog_recent_heading != blank %}
  <div class="title">
    {{settings.blog_recent_heading}}
  </div>
  {% endif %}
  
  <ul class="list-unstyled blog-tag-data">
    {% for article in blog.articles limit:settings.blog_recent_number %}
      <li>
        <div class="stitle">{{ article.title | link_to: article.url }}</div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}


{% comment %} ----- Blog Tags ----- {% endcomment %}
{% if settings.blog_tags_show %}
{% if blog.all_tags.size > 0 %}
<div class="widget-wrapper blog-page">
  
  {% if settings.blog_tags_heading != blank %}
  <div class="title">
    {{settings.blog_tags_heading}}
  </div>
  {% endif %}
  
  <ul class="list-inline blog-tags">
    {% for tag in blog.all_tags %}
    {% if current_tags contains tag %}
    <li class="active">
      <i class="fa fa-tag"></i>
      {{ tag | link_to_remove_tag: tag }}
    </li>
    {% else %}
    <li>
      <i class="fa fa-tag"></i>
      {{ tag | link_to_add_tag: tag }}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endif %}


{% comment %} ----- Social Widget ----- {% endcomment %}
{% if settings.blog_social_visible != 'none' %}

<div class="widget-wrapper">
  {% if settings.blog_social_heading != blank %}
  <div class="title">
    {{settings.blog_social_heading}}
  </div>
  {% endif %}

  {% case settings.blog_social_visible %}

  {% when 'twitter' %}
  {% include 'twitter' with 'sidebar' %}

  {% when 'facebook' %}
  {% include 'facebook' with 'sidebar' %}

  {% endcase %}
</div>
{% endif %}