<div id="slidingbar-area" class="hidden-xs hidden-sm">
  <div id="slidingbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% if settings.sliding_text_show %}
          <div class="slidingbar-widget contact_info">
            {% if settings.sliding_text_heading != blank %}
            <h5 class="title">{{settings.sliding_text_heading}}</h5>
            {% endif %}
            <div class="slidingbar-widget-container">
              {{settings.sliding_text_desc}}
            </div>
            <div style="clear:both;"></div>
          </div>
          {% endif %}

          {% if settings.sliding_social_icons_show %}
          <div class="slidingbar-widget social_info">
            {% if settings.sliding_social_icons_heading != blank %}
            <h5 class="title">{{settings.sliding_social_icons_heading}}</h5>
            {% endif %}
            <div class="slidingbar-widget-container">
              {% include 'social-media' %}
            </div>
            <div style="clear:both;"></div>
          </div>
          {% endif %}
        </div>
        {% if settings.sliding_list_show %}
        <div class="col-md-8">
          <div class="slidingbar-widget list_info">
            {% if settings.sliding_list_heading != blank %}
            <h5 class="title">{{settings.sliding_list_heading}}</h5>
            {% endif %}
            <div class="slidingbar-widget-container">
              {% assign top_tmp = settings.sliding_link_list %}
              {% assign top_list = linklists[top_tmp] %}
              <ul class="list-unstyled">
                {% for link in top_list.links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title | escape }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        {% endif %}
        {% if settings.sliding_img_show %}
        <div class="col-md-8">
          <div class="slidingbar-widget text_info">
            {% if settings.sliding_img_heading != blank %}
            <h5 class="title">{{settings.sliding_img_heading}}</h5>
            {% endif %}
            <div class="slidingbar-widget-container">
              <a href="{{settings.sliding_img_link}}">
                <img src="{{'sliding_img_upload.jpg' | asset_url}}" alt="{{settings.sliding_img_heading}}" />
              </a>
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="sb-toggle-wrapper"><span class="sb-toggle"></span></div>
</div>