<!doctype html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (lt IE 8) ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" href="{{ 'apple-touch-icon-precomposed.png' | asset_url }}" />

  <link rel="canonical" href="{{ canonical_url }}" />

  {% if page_description or page_description != '' %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}

  {% if template contains 'index' %}
  {% if page_title != blank and page_title != 'Welcome' %}
  <title>{{ page_title }}</title>
  {% else %}
  <title>{{ shop.name }}</title>
  {% endif %}
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% include 'fb-open-graph' %}

  <script src="https://use.typekit.net/bqn6wqj.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' | stylesheet_tag }}
  {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' | stylesheet_tag }}
  {{ 'rt.webfont.scss.css' | asset_url | stylesheet_tag }}
  {{ 'pa.webfont.css' | asset_url | stylesheet_tag }}

  {{ 'jquery.plugins.min.scss.css' | asset_url | stylesheet_tag }}

  {% if template contains 'index' and settings.show_slideshow %}
  {{ 'jquery.flexslider.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {% if template contains 'collection' and settings.collection_slider %}
  {{ 'jquery.flexslider.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'bootstrap.min.3x.css' | asset_url | stylesheet_tag }}
  {{ 'rt.global.scss.css' | asset_url | stylesheet_tag }}
  {{ 'animate.min.css' | asset_url | stylesheet_tag }}
  {{ 'rt.style.scss.css' | asset_url | stylesheet_tag }}
  <!--[if IE 8 ]> {{ 'ie8.scss.css' | asset_url | stylesheet_tag }} <![endif]-->
  {{ 'rt.media.css' | asset_url | stylesheet_tag }}

  {{ 'paul-andrew.scss.css' | asset_url | stylesheet_tag }}

  <!--[if lt IE 9]>
    <script src="{{ 'html5shiv.js' | asset_url }}"></script>
    <script src="{{ 'respond.min.js' | asset_url }}"></script>
    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="{{ shop.url }}/pages/respond-js" id="respond-redirect" rel="respond-redirect" />
    <script src="{{ shop.url }}/pages/respond-js" type="text/javascript"></script>
  <![endif]-->

  {% include 'head_script' %}

  {% if template contains 'customers' or template contains 'collection' %}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {% endif %}

  {% if template contains 'collection' %}
  {{ "shopify_common.js" | asset_url | script_tag }}
  {% endif %}

  {{ 'jquery-1.8.3.min.js' | asset_url | script_tag }}
  {{ 'jquery.easing.1.3.js' | asset_url | script_tag }}

  {% if template contains 'page.contact' and settings.contact_map %}
  {{ '//maps.google.com/maps/api/js?sensor=false' | script_tag }}
  {{ 'jquery.gmap.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'index' and settings.home_contact_enable %}
  {{ '//maps.google.com/maps/api/js?sensor=false' | script_tag }}
  {{ 'jquery.gmap.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' | script_tag }}
  {% comment %}
  {{ 'bootstrap.min.3x.js' | asset_url | script_tag }}
  {% endcomment %}
  {{ 'modernizr.js' | asset_url | script_tag }}

  {{ content_for_header }}
  {{ 'newsletter.css' | asset_url | stylesheet_tag }}

</head>

<body class="{% if customer %}customer-logged-in {% endif %}template{{ template | split: '.' | first | camelize }}{% if template == 'collection' or template contains 'collection.' %}{% if settings.collection_grid_list == 'list' %} cat-list{% endif %}{% endif %}{% if ecommerce_enabled %} ecommerce-enabled{% else %} ecommerce-disabled{% endif %}">
  <div class="box_wrapper">

    {% include 'navigation-mobile' %}
    {% include 'cart-sidebar' %}

    <div id="page" class="box {% if page.handle == 'about' %}aboutPage{% endif %}">

      {% if settings.header_sticky %}<div id="phantom">{% endif %}
      <header id="header" class="clearfix{% if settings.header_sticky %} sticky{% endif %}">
        {% include 'header' %}
      </header>
      {% if settings.header_sticky %}</div>{% endif %}

      <section id="module-content" class="clearfix">

        {% if template == 'collection' or template contains 'collection.' %}
        {% include 'collection-top' %}
        {% endif %}

        {% if template != 'index' %}
        {% include 'page-background' %}
        {% endif %}

        {% unless template contains 'index' or template contains 'page.contact' or template contains 'page.press' or template contains 'blog' or template contains 'page.about' or template contains 'page.mktg-template' or template contains 'page.stockists' or template == 'product' or template contains 'product.' or template contains 'page.lookbook' %}
        <div id="content" class="container{% if template == 'collection' or template == 'search' %}-fluid{% endif %}">
          <div class="row">
            {% endunless %}

            {{ content_for_layout }}

            {% unless template contains 'index' or template contains 'page.contact' or template == 'product' or template contains 'product.' or template contains 'page.lookbook' %}
          </div>
        </div>
        {% endunless %}

      </section>

      {% comment %} Footer + Copyright {% endcomment%}
      {% include 'footer' %}
    </div>

    {% comment %} ----- Scroll to Top ----- {% endcomment %}
    {% if settings.scroll_top_show %}
    <div id="scroll-top" class="hidden-xs hidden-sm btn" title="Top"><i class="icon-pa-arrow-up"></i></div>
    {% endif %}

  </div>

  {% comment %} ----- Declare scripts ----- {% endcomment %}

  {% if template contains 'index' and settings.show_slideshow %}
  {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template == 'collection' or template contains 'collection.' %}
  {{ 'jquery.history.min.js' | asset_url | script_tag }}
  {% endif %}

  {{ 'jquery.plugins.min.js' | asset_url | script_tag }}

  {% if settings.smoothscroll_enable %}
  {{ 'jquery.smoothscroll.js' | asset_url | script_tag }}
  {% endif %}

  
  {% comment %}
  {{ 'uisearch.js' | asset_url | script_tag }}
  {% endcomment %}
  {{ 'rt.global.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {% include 'api.jquery.custom' %}
  {{ 'rt.script.js' | asset_url | script_tag }}
  {{ 'rt.custom.js' | asset_url | script_tag }}

  {% include 'currencies' %}
  {% include 'notify-slider' %}
  {% include 'popup-mailchimp' %}
  {% include 'theme-controller' %}

  {{ 'option_selection.js' | asset_url | script_tag }}
  
  <script>
  
  
    $(document).on('click', '.quick-view-link', function(e){
      setTimeout(function(){
        $('.modal.fade').removeClass('fade');
      },500)
    })
    $(document).on('click', '.modal-header button', function(e){
        $('.modal').addClass('fade');
    })
    $('form.mailing-form.footer-mailchimp').submit(function(e){
      e.preventDefault();
      url = $(this).attr('action') + '&c=?'
      data = $(this).serialize()
      $.post(url,data,function(res){console.log(res)})
      $(this).html("<p class='mailchimp-disclaimer'>Thank You! You will receive a confirmation email shortly.</p>")
    })
  </script>
  
  {% if template == 'index' or template == 'page.about' or template == 'collection' or template contains 'mktg-template' %}
    {% for prod in collection.products %}
    
      {% include 'quickview-modal' %}  
      
      
    {% endfor %}
  
  {% endif %}
  
  
  {% if template == 'search' %}
    {% paginate search.results by 50 %}  
      {% for prod in search.results %}
        
        {% if prod.url contains 'products' %}
          {% include 'quickview-modal' %}  
        {% endif %}
      
      {% endfor %}
    {% endpaginate %}
  {% endif %}
  
  {% if template == 'blog' %}
  <script>
    $(document).ready(function(){
      $(document).on('click','a.collapsed', function(e){
        console.log($('.collapsing').size())
        target = $(this).attr('href')
        window.targetEl = target
        if ( $('.collapsing').size() > 1 ){
          console.log('open')
          targetPosition = $(target).offset().top - 100 - 892
        } else {
          targetPosition = $(target).offset().top - 100
        }
        $('html,body').animate({
          scrollTop: targetPosition
        },400);
      })
  })
  </script>
  {% endif %}
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '738431549627717');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=738431549627717&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code —>
  
</body>
</html>