{% paginate blog.articles by 8 %}

{% assign articles = blog.articles %}


{% assign article_ids = blog.articles | map: 'id' %}
{% assign indices = '' %}

{% for article_id in article_ids %}
  {% assign indices = indices | append: forloop.index0 } | append: ',' %} 
{% endfor %}


{% assign index_ary = indices | split: ','  %}


{% for index in index_ary %}
    {% assign mod = forloop.index0 | modulo: 2 %}
    {% if mod == 0 %}
      {% assign ids = ids | append: index | append: ',' %}
    {% elsif mod == 1 %}
      {% assign ids = ids | append: index | append: '|' %}
    {% endif %}
{% endfor %}


{% assign rows = ids | split: '|' %}


<div class="loading_img" style="display:none;">{% include 'spinner2' %}</div>

<div class="press-page-content">
  <div id='filter-sort-accordion'role="tablist" aria-multiselectable="true">
    <div class='filter-container'>
      {% if blog.handle == 'journal' %}
      <div class='filter-controls'>
        <a href="#filter-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="sortby-expanded" data-parent='#filter-sort-accordion' id='filter-collapse'>
          <div class="sortby">
            <h3>REFINE</h3>
            <i class="icon-pa-arrow-down sortby-arrow"></i>
          </div>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="panel-collapse collapse" id="filter-expanded">
      <div class="well">
        <div class="filter_wrap">
          <ul class="list-unstyled fields">
            <li>
              <a href='{{ blog.url }}/tagged/press'>
                <span class="{% if current_tags contains 'press' %}active{%endif%} field">
                  IN PRINT
                </span>
              </a>
            </li>
            
            {% comment %}
            <li>
              <a href='{{ blog.url }}/tagged/interviews'>
                <span class="{% if current_tags contains 'interviews' %}active{%endif%} field">
                  INTERVIEWS
                </span>
              </a>
            </li>
            {% endcomment %}

            <li>
              <a href='{{ blog.url }}/tagged/vip'>
                <span class="{% if current_tags contains 'vip' %}active{%endif%} field">
                  VIP
                </span>
              </a>
            </li>

            <li>
              <a href='{{ blog.url }}/tagged/events'>
                <span class="{% if current_tags contains 'events' %}active{%endif%} field">
                  NEWS & EVENTS
                </span>
              </a>
            </li>
            
            <li>
              <a href='{{ blog.url }}/tagged/social'>
                <span class="{% if current_tags contains 'social' %}active{%endif%} field">
                  BEST OF SOCIAL
                </span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  
  <div class="visible-xs-block panel-group" id="mobile-accordion" aria-multiselectable="true">
  
    {% for article in articles %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% assign content = article.content | split: '</p>' | first | strip_html %}
    {% assign images = article.content | remove: '<p>' | remove: '</p>' %}
    
    <div class="panel panel-default">
      <div id="headingOne" class="row press press-wrapper">
        <div class="col-xs-12 {% if mod == 0 %} col-xs-push-12 {% endif %} press">
          <a data-toggle="collapse" class='collapsed' data-parent="#mobile-accordion" href="#mobileExpandDetail-{{ article.id }}" aria-expanded="false" aria-controls="mobileExpandDetail-{{ article.id }}">
            <img src="{{ article | img_url: 'grande' }}">
          </a>
        </div>
        <div class="col-xs-12 {% if mod == 0 %} col-xs-pull-12 {% endif %} press">
          <a data-toggle="collapse" class='collapsed' data-parent="#mobile-accordion" href="#mobileExpandDetail-{{ article.id }}" aria-expanded="false" aria-controls="mobileExpandDetail-{{ article.id }}">
            {% if blog.handle == 'journal' %}<h2>{{ article.tags.first }}</h2>{% endif %}
            <h3 class='articleTitle'>{{ article.title }}</h3>
            <p>{{ article.published_at | date: '%-m/%-d/%y'}}</p>
          </a>
        </div>
      </div>
      <div class="collapse" id="mobileExpandDetail-{{ article.id }}" aria-labelledby="headingOne">
        <div class="well" id="mobile-well">

          <div id="mobile-carousel-{{article.id}}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {{ images }}
            </div>
            <a class="left carousel-control" href="#mobile-carousel-{{article.id}}" role="button" data-slide="prev">
              <img src="{{ 'left-icon.png' | asset_url }}">
            </a>
            <a class="right carousel-control" href="#mobile-carousel-{{article.id}}" role="button" data-slide="next">
              <img src="{{ 'right-icon.png' | asset_url }}">
            </a>
          </div>



          <div class="well-text">
            <h3 class='articleTitle'>{{ article.title }}</h3>
            <p>{{ article.published_at | date: '%-m/%-d/%y'}}</p>
            <p>{{ article.excerpt | strip_html }}</p>
          </div>
          <h3>SHARE</h3>

          {% include "social-media" %}
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail-{{ article.id }}" aria-expanded="false" aria-controls="mobileExpandDetail-{{ article.id }}">
            <div class="close-well">
              {{ 'close.png' | asset_url | img_tag }}
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  
  
  </div>
  


  <div class="hidden-xs panel-group" id="desktop-accordion" aria-multiselectable="true">
  
    
    {% for row in rows %}
    {% assign row_int = row | plus: 0 %}
    {% assign row_mod = forloop.index | modulo: 2 %}
    {% assign entry_ids = row | split: ',' %}
    <div class="panel panel-default">
      
      <div id="headingOneDesktop" class="row press press-wrapper">
        
        {% for entry_id in entry_ids %}
        {% assign entry_int = entry_id | plus: 0 %}
        {% assign article = articles[entry_int] %}
        
        <div class="press-preview-wrapper">
          <div class='overlay'>
            <a href="#press-detail-{{article.id}}" data-parent="#desktop-accordion" data-toggle="collapse" aria-expanded="false" class='collapsed'></a>
          </div>
            <div class="col-xs-12 press {% if row_mod == 0 %}col-xs-push-12{% endif %}">
              <img src="{{ article | img_url: 'grande' }}"/>
            </div>
            <div class="col-xs-12 press press-text{% if row_mod == 0 %} col-xs-pull-12 right-text{% endif %}">
              <div class="text-wrapper">
               {% if blog.handle == 'journal' %}<h2>{{ article.tags.first }}</h2>{% endif %}
                <h3 class='articleTitle'>{{ article.title }}</h3>
                <p>{{ article.published_at | date: '%-m/%-d/%y'}}</p>
              </div>
            </div>

        </div>
        
        {% endfor %}

      </div>
      
      {% for entry_id in entry_ids %}
      {% assign entry_int = entry_id | plus: 0 %}
      {% assign article = articles[entry_int] %}
      
      {% assign content = article.content | split: '</p>' | first | strip_html %}
      {% assign images = article.content | remove: '<p>' | remove: '</p>' %}

      <div class="collapse" id="press-detail-{{article.id}}">
        <div class="well">
          <div class="row detail-well">
            <div class="col-xs-17 press-img-desktop">

              <div id="desktop-carousel-{{forloop.index}}-{{article.id}}" class="carousel slide" data-ride="carousel">
                
                <div class="carousel-inner" role="listbox">
                  {{ article.content | remove: '<p>' | remove: '</p>' }}
                </div>
                
              </div>

              <a class="left carousel-control" href="#desktop-carousel-{{forloop.index}}-{{article.id}}" data-slide="prev">
                <img src="{{ 'left-icon.png' | asset_url }}"/>
              </a>
              <a class="right carousel-control" href="#desktop-carousel-{{forloop.index}}-{{article.id}}" data-slide="next">
                <img src="{{ 'right-icon.png' | asset_url }}"/>
              </a>

            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-6 detail-content">
              <a data-toggle="collapse" href="#press-detail-{{article.id}}" aria-expanded="false">
                <div class="close-well">
                  {{ 'close.png' | asset_url | img_tag }}
                </div>
              </a>
              <div class="well-text">
                <h3 class='articleTitle'>{{ article.title }}</h3>
                <p>{{ article.published_at | date: '%-m/%-d/%y'}}</p>
                <p>{{ article.excerpt | strip_html }}</p>
                
                {% comment %}
                <div class='share-social-media'>
                  <h3>SHARE</h3>
                  {% include "social-media" %}
                </div>
                {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}

    </div>
    {% endfor %}

  </div>

</div>

{% if paginate.pages > 1 %}
<div class="pagination hide">
  {{ paginate | default_pagination }}
</div>
{% endif %}




{% if settings.sidebar_blog_placement == 'right' %}
<div id="sidebar" class="col-md-6{% if settings.sidebar_blog_mobile %} hidden-sm hidden-xs{% endif %}">
  {% include 'sidebar-blog' %}
</div>
{% endif %}

<!-- <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

<script>

  
$(".carousel-inner img:nth-child(1)").addClass('active')


currentUrl = window.location.href



$(document).on('click',"a.right.carousel-control",function(e){
  e.preventDefault();
  $carousel = $(this).parent().find('.carousel-inner')
  nextCarouselImg($carousel)
})
$(document).on('click',"a.left.carousel-control",function(e){
  e.preventDefault();
  $carousel = $(this).parent().find('.carousel-inner')
  prevCarouselImg($carousel)
})


$(document).on('swipeleft','div.carousel-inner',function(e){
  e.preventDefault();
  $carousel = $(this)
  nextCarouselImg($carousel)
})

$(document).on('swiperight','div.carousel-inner',function(e){
  e.preventDefault();
  $carousel = $(this)
  prevCarouselImg($carousel)
})

function nextCarouselImg($carousel){
  
  $activeImg = $carousel.find('.active')
  totalImgs = $carousel.find('img').size()
  currentIndex = $($carousel.find('img')).index($carousel.find('img.active'))
  
  if ( ( currentIndex + 1 ) == totalImgs ){
    $nextImg = $($carousel.find('img')[0])
  } else {
    $nextImg = $activeImg.next() 
  }
  
  $activeImg.removeClass('active')
  $nextImg.addClass('active')
  
}

function prevCarouselImg($carousel){
  
  $activeImg = $carousel.find('.active')
  totalImgs = $carousel.find('img').size()
  currentIndex = $($carousel.find('img')).index($carousel.find('img.active'))
  
  if ( ( currentIndex - 1 ) < 0 ){
    $prevImg = $($carousel.find('img')[(totalImgs - 1)])
  } else {
    $prevImg = $activeImg.prev() 
  }
  
  $activeImg.removeClass('active')
  $prevImg.addClass('active')
  
}

$('.carousel-inner').each(function(k,v){
  if ( $(v).find('img').size() < 2 ){
    $(v).parent().parent().find('.carousel-control').hide()
  }
})

$('#filter-collapse').click(function(e){
  $('#sortby-expanded').removeClass('in')
})

$('#sort-collapse').click(function(e){
  $('#filter-expanded').removeClass('in')
})

{% if paginate.pages > 1 %}
  $(window).data('ajaxready', true);
{% else %}
$(window).data('ajaxready', false);
{% endif %}

function getNextArticles(){
  url = $('.pagination .next a').attr('href')
  jQuery.ajax({
    type: "get",
    url: url,
    beforeSend: function() {
      $(window).data('ajaxready', false);
      $('.loading_img').show()
    },
    success: function(res) {
      if ( $(res).find('.pagination .next a').size() == 0 ){
      } else {
        newUrl = $(res).find('.pagination .next a').attr('href')
        $('.pagination .next a').attr('href',newUrl)
        $(window).data('ajaxready', true);
      }
      $('.hidden-xs.panel-group').append($(res).find('.hidden-xs.panel-group').html())
      $('.visible-xs-block.panel-group').append($(res).find('.visible-xs-block.panel-group').html())
      $('.loading_img').hide()
      $(".carousel-inner img:nth-child(1)").addClass('active')
    },
    error: function() {
      $('.loading_img').hide()
    }
  })
}

$(document).on('scroll', function(){
  if( $(window).scrollTop() > $(document).height() - 1000 ) {
    if ($(window).data('ajaxready') == true) {
      getNextArticles();
    }
  }
}).scroll();

</script>





{% endpaginate %}

















