{% paginate collection.products by 8 %}
<div id="col-main" class="col-sm-24 collection-page">
  <div id="sandBox">
    {% if collection.products.size > 0 %}
    <div class="row cat-grid">
      
      {% for prod in collection.products %}
        {% if  forloop.index == 5 and paginate.current_page == 1 %}
          
          {% if collection.handle == 'pre-spring-2016' %}
            {% include 'collection-block-mobile' %}
          {% endif %}
        
        {% endif %}
        
        {% if  forloop.index == 3 and paginate.current_page == 2 %}
          
          {% if collection.handle == 'pre-spring-2016' %}
            {% include 'collection-block-mobile' %}
          {% endif %}
        
        {% endif %}
        
        {% if  forloop.index == 6 and paginate.current_page == 2 %}
          
          {% if collection.handle == 'pre-spring-2016' %}
            {% include 'collection-block' %}
          {% endif %}
          
        {% endif %}
        {% if  forloop.index == 4 and paginate.current_page == 4 %}
          
          {% if collection.handle == 'pre-spring-2016' %}
            {% include 'collection-block' %}
          {% endif %}
          
        {% endif %}
      {% comment %}
      {% endcomment %}
     
      
        <div class="product_item item-{{prod.id}}">
        
          {% include 'product-item' %}
            
        </div>
     
      {% endfor %}
    

    </div>
    
    {% else %}
    <h3 class="empty text-center">{{ 'collections.general.no_products' | t }}</h3>
    {% include 'collection-default' %}
    {% endif %}
    
  </div>
  
 

  
  <div class="advanced-pagination">
    {% if settings.collection_infinite_scoll %}
    {% if settings.collection_infinite_scoll_auto %}
    {% if paginate.next %}
    <div class="loading_img" style="display:none;">{% include 'spinner2' %}</div>
    <div class="infinite_scoll hide"><a href="{{ paginate.next.url }}"></a></div>
    {% endif %}
    {% else %}
    {% if paginate.next %}
    <div class="loading_img" style="display:none;">{% include 'spinner2' %}</div>
    <div class="infinite_scoll"><a class="btn btn-1 big btn-arrow" href="{{ paginate.next.url }}"><i class="icomoon-arrow-right"></i> {{ 'collections.general.load_more' | t }}</a></div>
    {% endif %}
    {% endif %}
    <div class="infinite_line"></div>
    {% else %}
    {% include 'pagination' %}
    {% endif %}
  </div>
{% endpaginate %}

 