<div class='mktg-content'>
  <div class='hero-section'>
    <img src='{{ "mktg_temp1_hero_desktop.jpg" | asset_url }}' class='hidden-xs hero'>
    <img src='{{ "mktg_temp1_hero_mobile.jpg" | asset_url }}' class='visible-xs hero'>
  </div>
  
  <div class='content-section'>
    <h2>{{ settings.mktg_temp1_content_header }}</h2>
    <h3>{{ settings.mktg_temp1_content_subheader }}</h3>
    
    {% comment %}
    <p>{{ settings.mktg_temp1_content_body }}</p>
    {% endcomment %}
    <div class='form-container'>
      <form action="//paulandrew.us11.list-manage.com/subscribe/post?u=37a3aa761498960efd667ae4a&amp;id=456077a8c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate>
        <div class='form-group'>
          <input type='text' name='FNAME' placeholder='First Name'><input type='text' name='LNAME' placeholder='Last Name'>
        </div>
        <input type='text' name='EMAIL' placeholder='Email Address'>
        <div class='agree-terms'>
          <input type="checkbox" name="checkbox" value="check" id="agree" /> <label for='agree'>I accept <a href='https://paulandrew.com/pages/terms' target='_blank'>Terms and Conditions</a> of the contest, and agree to receive emails from paulandrew.com</label>
        </div>
        <input class='btn' type='submit' value='Register'>
      </form>
    </div>
    
  </div>
  
  
  {% if settings.mktg_temp1_img_grid_display %}
  <div class='img-grid-section'>
    <img src='{{ "mktg_temp1_img_grid1.jpg" | asset_url }}'><img src='{{ "mktg_temp1_img_grid2.jpg" | asset_url }}'><img src='{{ "mktg_temp1_img_grid3.jpg" | asset_url }}'><img src='{{ "mktg_temp1_img_grid4.jpg" | asset_url }}'><img src='{{ "mktg_temp1_img_grid5.jpg" | asset_url }}'><img src='{{ "mktg_temp1_img_grid6.jpg" | asset_url }}'><img src='{{ "mktg_temp1_img_grid7.jpg" | asset_url }}'><img src='{{ "mktg_temp1_img_grid8.jpg" | asset_url }}'>
  </div>
  {% endif %}
  
  
  {% if settings.mktg_temp1_collection_display %}
  <div class='product-grid-section'>
    <h2>{{ settings.mktg_temp1_collection_header }}</h2>
    <h3>{{ settings.mktg_temp1_collection_subheader }}</h3>
    
    <div class="row cat-grid">
      {% assign collection = collections[settings.mktg_temp1_collection] %}
      {% for prod in collection.products %}
      <div class="product_item item-{{prod.id}}">
        {% include 'product-item' %}
      </div>
      {% endfor %}
    </div>
    
    
    <a href='/collections/all' class='btn btn-primary'>View All Shoes</a>
  </div>
  {% endif %}
  
</div>

<script>
$('.form').submit(function(e){
  $('.form-container').html('<p style="text-align:center;">Thank you for registering!</p>')
})
</script>