<div class="about-content">
  <div class="about-hero-img">
    <img class='hero hidden-xs' src='{{ "about_hero_desktop.jpg" | asset_url }}'>
    <img class='hero visible-xs' src='{{ "about_hero_mobile.png" | asset_url }}'>
    <div class="about-content-text" style='right:14%;'>
      <p>{{ settings.about_quote }}</p>
      <img class='hidden-xs' src="{{ 'about_signature.png' | asset_url }}">
      <img class='visible-xs' src="{{ 'about_signature.png' | asset_url }}">
    </div>
  </div>
  
  <div class="about-read-more">
    <h2>{{ settings.about_bio_header }}</h2>
    <p>{{ settings.about_bio_1 }}</p>
    <br>
    <p>{{ settings.about_bio_2 }}</p>
    <br>
    <p class='hide additional-about'>{{ settings.about_bio_3 }}</p>
    <br>
    <p class='hide additional-about'>{{ settings.about_bio_4 }}</p>
    <br>
    <h3 class='hide additional-about accolades'>{{ settings.about_accolades_header }}</h3>
    <ul class='hide additional-about accolades'>
      <li>{{ settings.about_accolades_1 }}</li>
      <li>{{ settings.about_accolades_2 }}</li>
      <li>{{ settings.about_accolades_3 }}</li>
      <li>{{ settings.about_accolades_4 }}</li>
      <li>{{ settings.about_accolades_5 }}</li>
    </ul>

    <a class='cta btn btn-primary expand-data' href="#">Read More</a>
  </div>
  <div class="elements-of-design-image">
    <img class='elements-hero hidden-xs' src='{{ "about_mid_hero_desktop.jpg" | asset_url }}'>
    <img class='elements-hero visible-xs' src='{{ "about_mid_hero_mobile.png" | asset_url }}'>
    <div class='hero-content'>
      <h2>{{ settings.about_mid_hero_header }}</h2> 
      <p>
        {{ settings.about_mid_hero_subheader }}
      </p>
    </div>
  </div>
  <div class="elements-of-design-text">
    <ol class='design-list'>
      <li>{{ settings.about_elements_1 }}</li>
      <li>{{ settings.about_elements_2 }}</li>
      <li>{{ settings.about_elements_3 }}</li>
      <li>{{ settings.about_elements_4 }}</li>
      <li>{{ settings.about_elements_5 }}</li>
      <li>{{ settings.about_elements_6 }}</li>
    </ol>
  </div>
  <br>
  <div class="pauls-favorites">
    <h2>{{ settings.about_collection_title }}</h2>
    
    <div id="featured-products" class="row cat-grid">
      {% assign collection = collections[settings.about_collection] %}
      {% for prod in collection.products %}
      <div class="product_item item-{{prod.id}}">
        {% include 'product-item' %}
      </div>
      {% endfor %}
    </div>
    
  </div>
          
  <div id='bottom-content' class="journal_and_instagram_section container">
    <div class="row">
      <div class="journal_section bottom-section col-xs-24 col-sm-12 col-md-12 col-lg-12">
        <a href='{{ settings.about_bottom_left_link }}'>
          <div class="journal_image right_image"><img src="{{ 'about_bottom_left_link_image.png' | asset_url }}" alt="journal image" /></div>
          <div class="journal_text left_text"><span class="heading_journal_section heading_footer">{{ settings.about_bottom_left_link_header_text }}</span>
            <p class="para_journal_section">{{ settings.about_bottom_left_link_subheader_text }}</p>
          </div>
        </a>
      </div>
      <div class="instagram_section bottom-section col-xs-24 col-sm-12 col-md-12 col-lg-12">
        <a href='{{ settings.about_bottom_right_link }}' target='_blank'>
          <div class="instagram_image right_image"><img src="{{ 'about_bottom_right_link_image.png' | asset_url }}" alt="instgram image" /></div>
          <div class="instrgram_text left_text"><span class="heading_instgram_section heading_footer">{{ settings.about_bottom_right_link_header_text }}</span>
            <p class="para_journal_section">{{ settings.about_bottom_right_link_subheader_text }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<script>
$('.expand-data').click(function(e){
  e.preventDefault();
  $('.additional-about').removeClass('hide')
  $('.expand-data').hide();
})
</script>