<div class="press-page-content">
  <a href="#sortby-expanded" data-toggle="collapse" aria-expanded="false" aria-controls="sortby-expanded">
    <div class="sortby">
      <h3>SORT</h3>
      <i class="icon-pa-arrow-down sortby-arrow"></i>
    </div>
  </a>
  <div class="collapse" id="sortby-expanded">
    <div class="well">
      <div class="filter_wrap">
        <ul class="list-unstyled fields">
          <li>
            <span class="field active">
              PRESENT - PAST
            </span>
          </li>

          <li>
            <span class="field active">
              PUBLICATION A-Z
            </span>
          </li>

          <li>
            <span class="field active">
              PAST - PRESENT
            </span>
          </li>

          <li>
            <span class="field active">
              PUBLICATION Z-A
            </span>
          </li>
        </ul>
      </div>

    </div>
  </div>

<!-- This code is duplicated because I'm waiting on embedding data from the backend.  In the future these blocks will be iterated through an each loop -->

<!-- Need to render two different views, one for mobile and one for desktop.  Mobile with two blocks per row and desktop with four per row. -->

  <!-- Mobile view start -->
  <div class="visible-xs-block panel-group" id="mobile-accordion" aria-multiselectable="true">
    <div class="panel panel-default">
      <div id="headingOne" class="row press press-wrapper">
        <div class="col-xs-12 press">
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail1" aria-expanded="false" aria-controls="mobileExpandDetail1">
            <img src="{{ 'test-img1.jpg' | asset_url }}">
          </a>
        </div>
        <div class="col-xs-12 press">
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail1" aria-expanded="false" aria-controls="mobileExpandDetail1">
            <h2>PRESS</h2>
            <h3>PUBLICATION</h3>
            <p>7/2015</p>
          </a>
        </div>
      </div>
      <div class="collapse" id="mobileExpandDetail1" aria-labelledby="headingOne">
        <div class="well" id="mobile-well">

          <div id="mobile-carouselOne" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{ 'test-img1.jpg' | asset_url }}"/>
              </div>
              <div class="item">
                <img src="{{ 'test-img2.jpg' | asset_url }}"/>
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#mobile-carouselOne" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
          </a>
          <a class="right carousel-control" href="#mobile-carouselOne" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
          </a>


          <div class="well-text">
            <h3>FOOTWEAR NEWS</h3>
            <p>7/2015</p>
            <p>prince andrew: he's the stylish, ambitious man man of the moment.  why a prolific Paul Andrew is destined for stardom.</p>
          </div>
          <h3>SHARE</h3>

          {% include "social-media" %}
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail1" aria-expanded="false" aria-controls="mobileExpandDetail1">
            <div class="close-well">
              {{ 'close.png' | asset_url | img_tag }}
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div id="headingTwo" class="row press press-wrapper white-background">
        <div class="col-xs-12 col-xs-push-12 press">
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail2" aria-expanded="false" aria-controls="mobileExpandDetail2">
            <img src="{{ 'test-img3.jpg' | asset_url }}"/>
          </a>
        </div>
        <div class="col-xs-12 col-xs-pull-12 press">
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail2" aria-expanded="false" aria-controls="mobileExpandDetail2">
            <h2>PRESS</h2>
            <h3>PUBLICATION</h3>
            <p>7/2015</p>
          </a>
        </div>
      </div>

      <div class="collapse" id="mobileExpandDetail2" aria-labelledby="headingTwo">
        <div class="well" id="mobile-well">

          <div id="mobile-carouselTwo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{ 'test-img3.jpg' | asset_url }}"/>
              </div>
              <div class="item">
                <img src="{{ 'test-img4.jpg' | asset_url }}"/>
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#mobile-carouselTwo" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
          </a>
          <a class="right carousel-control" href="#mobile-carouselTwo" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
          </a>

          <div class="well-text">
            <h3>FOOTWEAR NEWS</h3>
            <p>7/2015</p>
            <p>prince andrew: he's the stylish, ambitious man man of the moment.  why a prolific Paul Andrew is destined for stardom.</p>
          </div>
          <h3>SHARE</h3>

          {% include "social-media" %}
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail2" aria-expanded="false" aria-controls="mobileExpandDetail2">
            <div class="close-well">
              {{ 'close.png' | asset_url | img_tag }}
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div id="headingThree" class="row press press-wrapper">
        <div class="col-xs-12 press">
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail3" aria-expanded="false" aria-controls="mobileExpandDetail3">
            <img src="{{ 'test-img5.jpg' | asset_url }}">
          </a>
        </div>
        <div class="col-xs-12 press">
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail3" aria-expanded="false" aria-controls="mobileExpandDetail3">
            <h2>PRESS</h2>
            <h3>PUBLICATION</h3>
            <p>7/2015</p>
          </a>
        </div>
      </div>

      <div class="collapse" id="mobileExpandDetail3" aria-labelledby="headingThree">
        <div class="well" id="mobile-well">

          <div id="mobile-carouselThree" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{ 'test-img5.jpg' | asset_url }}">
              </div>
              <div class="item">
                <img src="{{ 'test-img6.jpg' | asset_url }}"/>
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#mobile-carouselThree" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
          </a>
          <a class="right carousel-control" href="#mobile-carouselThree" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
          </a>

          <div class="well-text">
            <h3>FOOTWEAR NEWS</h3>
            <p>7/2015</p>
            <p>prince andrew: he's the stylish, ambitious man man of the moment.  why a prolific Paul Andrew is destined for stardom.</p>
          </div>
          <h3>SHARE</h3>

          {% include "social-media" %}
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail3" aria-expanded="false" aria-controls="mobileExpandDetail3">
            <div class="close-well">
              {{ 'close.png' | asset_url | img_tag }}
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div id="headingFour" class="row press press-wrapper white-background">
        <div class="col-xs-12 col-xs-push-12 press">
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail4" aria-expanded="false" aria-controls="mobileExpandDetail4">
            <img src="{{ 'test-img7.jpg' | asset_url }}">
          </a>
        </div>
        <div class="col-xs-12 col-xs-pull-12 press">
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail4" aria-expanded="false" aria-controls="mobileExpandDetail4">
            <h2>PRESS</h2>
            <h3>PUBLICATION</h3>
            <p>7/2015</p>
          </a>
        </div>
      </div>

      <div class="collapse" id="mobileExpandDetail4" aria-labelledby="headingFour">
        <div class="well" id="mobile-well">

          <div id="mobile-carouselFour" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{ 'test-img7.jpg' | asset_url }}">
              </div>
              <div class="item">
                <img src="{{ 'test-img8.jpg' | asset_url }}">
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#mobile-carouselFour" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
          </a>
          <a class="right carousel-control" href="#mobile-carouselFour" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
          </a>

          <div class="well-text">
            <h3>FOOTWEAR NEWS</h3>
            <p>7/2015</p>
            <p>prince andrew: he's the stylish, ambitious man man of the moment.  why a prolific Paul Andrew is destined for stardom.</p>
          </div>
          <h3>SHARE</h3>

          {% include "social-media" %}
          <a data-toggle="collapse" data-parent="#mobile-accordion" href="#mobileExpandDetail4" aria-expanded="false" aria-controls="mobileExpandDetail4">
            <div class="close-well">
              {{ 'close.png' | asset_url | img_tag }}
            </div>
          </a>
        </div>
      </div>

    </div>



  </div>
  <!-- Mobile view end -->

  <!-- The white backgrounds need to be added dynamically with javascript after the page is rendered.  The :nth-child(even) selector isn't working on the mobile view -->

  <!-- Desktop view start -->
  <div class="hidden-xs panel-group" id="desktop-accordion" aria-multiselectable="true">

    <div class="panel panel-default">
      <div id="headingOneDesktop" class="row press press-wrapper">

        <div class="press-preview-wrapper">
          <div class='overlay'>
            <a href="#press-detail1" data-parent="#desktop-accordion" data-toggle="collapse" aria-expanded="false" aria-controls="press-detail1"></a>
          </div>
            <div class="col-xs-12 press">
              <img src="{{ 'test-img1.jpg' | asset_url }}"/>
            </div>
            <div class="col-xs-12 press press-text">
              <div class="text-wrapper">
                <h2>PRESS</h2>
                <h3>PUBLICATION</h3>
                <p>7/2015</p>
              </div>
            </div>

        </div>


        <div class="press-preview-wrapper">
          <div class="overlay">
            <a href="#press-detail2" data-parent="#desktop-accordion" data-toggle="collapse" aria-expanded="false" aria-controls="press-detail2"></a>
          </div>
          <div class="col-xs-12 press">
            <img src="{{ 'test-img3.jpg' | asset_url }}"/>
          </div>
          <div class="col-xs-12 press press-text">
            <div class="text-wrapper">
              <h2>PRESS</h2>
              <h3>PUBLICATION</h3>
              <p>7/2015</p>
            </div>
          </div>
        </div>

      </div>

      <div class="collapse" id="press-detail1" aria-labelledby="headingOneDesktop">
        <div class="well">
          <div class="row detail-well">
            <div class="col-xs-3"></div>
            <div class="col-xs-12 press-img-desktop">
              <img src="{{ 'test-img1.jpg' | asset_url }}"/>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-6 detail-content">
              <a data-toggle="collapse" href="#press-detail1" aria-expanded="false" aria-controls="press-detail1">
                <div class="close-well">
                  {{ 'close.png' | asset_url | img_tag }}
                </div>
              </a>
              <div class="well-text">
                <h3>FOOTWEAR NEWS</h3>
                <p>7/2015</p>
                <p>prince andrew: he's the stylish, ambitious man man of the moment.  why a prolific Paul Andrew is destined for stardom.</p>

                <div class='share-social-media'>
                  <h3>SHARE</h3>
                  {% include "social-media" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse" id="press-detail2" aria-labelledby="headingOneDesktop">
        <div class="well">
          <div class="row detail-well">
            <div class="col-xs-3"></div>
            <div class="col-xs-12 press-img-desktop">
              <img src="{{ 'test-img3.jpg' | asset_url }}"/>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-6 detail-content">
              <a data-toggle="collapse" href="#press-detail2" aria-expanded="false" aria-controls="press-detail2">
                <div class="close-well">
                  {{ 'close.png' | asset_url | img_tag }}
                </div>
              </a>
              <div class="well-text">
                <h3>FOOTWEAR NEWS</h3>
                <p>7/2015</p>
                <p>prince andrew: he's the stylish, ambitious man man of the moment.  why a prolific Paul Andrew is destined for stardom.</p>

                <div class='share-social-media'>
                  <h3>SHARE</h3>
                  {% include "social-media" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="panel panel-default">
      <div id="headingTwoDesktop" class="row press press-wrapper">

        <div class="press-preview-wrapper">
          <div class="overlay">
            <a href="#press-detail3" data-toggle="collapse" data-parent="#desktop-accordion" aria-expanded="false" aria-controls="press-detail3"></a>
          </div>
          <div class="col-xs-12 col-xs-push-12 press">
            <img src="{{ 'test-img5.jpg' | asset_url }}">
          </div>
          <div class="col-xs-12 col-xs-pull-12 press press-text right-text">
            <div class="text-wrapper">
              <h2>PRESS</h2>
              <h3>PUBLICATION</h3>
              <p>7/2015</p>
            </div>
          </div>
        </div>


        <div class="press-preview-wrapper">
          <div class="overlay">
            <a href="#press-detail4" data-toggle="collapse" data-parent="#desktop-accordion" aria-expanded="false" aria-controls="press-detail4"></a>
          </div>
          <div class="col-xs-12 col-xs-push-12 press">
            <img src="{{ 'test-img7.jpg' | asset_url }}">
          </div>
          <div class="col-xs-12 col-xs-pull-12 press press-text right-text">
            <div class="text-wrapper">
              <h2>PRESS</h2>
              <h3>PUBLICATION</h3>
              <p>7/2015</p>
            </div>
          </div>
        </div>

      </div>

      <div class="collapse" id="press-detail3" aria-labelledby="headingTwoDesktop">
        <div class="well">
          <div class="row detail-well">
            <div class="col-xs-3"></div>
            <div class="col-xs-12 press-img-desktop">
              <img src="{{ 'test-img5.jpg' | asset_url }}"/>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-6 detail-content">
              <a data-toggle="collapse" data-parent="#desktop-accordion" href="#press-detail3" aria-expanded="false" aria-controls="press-detail3">
                <div class="close-well">
                  {{ 'close.png' | asset_url | img_tag }}
                </div>
              </a>
              <div class="well-text">
                <h3>FOOTWEAR NEWS</h3>
                <p>7/2015</p>
                <p>prince andrew: he's the stylish, ambitious man man of the moment.  why a prolific Paul Andrew is destined for stardom.</p>

                <div class='share-social-media'>
                  <h3>SHARE</h3>
                  {% include "social-media" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="collapse" id="press-detail4" aria-labelledby="headingTwoDesktop">
        <div class="well">
          <div class="row detail-well">
            <div class="col-xs-3"></div>
            <div class="col-xs-12 press-img-desktop">
              <img src="{{ 'test-img7.jpg' | asset_url }}"/>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-6 detail-content">
              <a data-toggle="collapse" data-parent="#desktop-accordion" href="#press-detail4" aria-expanded="false" aria-controls="press-detail4">
                <div class="close-well">
                  {{ 'close.png' | asset_url | img_tag }}
                </div>
              </a>
              <div class="well-text">
                <h3>FOOTWEAR NEWS</h3>
                <p>7/2015</p>
                <p>prince andrew: he's the stylish, ambitious man man of the moment.  why a prolific Paul Andrew is destined for stardom.</p>

                <div class='share-social-media'>
                  <h3>SHARE</h3>
                  {% include "social-media" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
<!-- Desktop View End -->

<!-- It's worth noting that the push-pull classes added to the divs surrounding images and text will need to be added with JavaScript after the dom is loaded with the data from the backend. -->

</div>
